h1 > a {
    text-decoration: none;
    color: black;
}

h1 > a:hover {
    text-decoration: none;
    color: black;
}

.forced, .forced-head {
    width: 1em;
    text-align: center;
}

.number {
    width: 1em;
    text-align: center;
}

div[id^='dice-container'] > img {
    max-width: 400px;
    max-height: 400px;
}

#toc {
    list-style: none;
    /* overflow: auto; */
}

.page-top {
    position: fixed;
    margin: 0px;
    bottom: 20px;
    right: 20px;
}

.page-top a img {
    width: 60px;
    height: 60px;
    opacity: 75%;
}