h1>a {
    text-decoration: none;
    color: black;
}

h1>a:hover {
    text-decoration: none;
    color: black;
}

.forced, .forced-head {
    width: 1em;
    text-align: center;
}

.number {
    width: 1em;
    text-align: center;
}

div[id^='dice-container']>img {
    max-width: 400px;
    max-height: 400px;
}

#toc {
    list-style: none;
    /* overflow: auto; */
}

.page-top {
    margin: 0px;
    font-size: 60px;
}

.page-top>a>i::before {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
}

.border-pink {
    border-color: pink !important;
    border-width: 2px !important;
}

.card {
    flex-direction: row;
}