h1 > a {
    text-decoration: none;
    color: black;
}

h1 > a:hover {
    text-decoration: none;
    color: black;
}

.forced {
    width: 1em;
    text-align: center;
}

.number {
    width: 1em;
    text-align: center;
}